.encabezado{
  background-color:#FADCE6  ;
  text-align: center;
  padding: 37px;
justify-content: center;
position: relative;
height: 160;
}
.encabezado h1{
  color:rgb(255, 255, 255);
  margin:-5;
  font-size:20px;
}
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-attachment: fixed;
    background-position: center center;
    background-image: url(./imagenes/intento2.jpg);
  background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}

.title {
    margin-top: 40px; /* Mayor separación del título */
    font-size: 32px;
    font-weight: bold;
}

header {
    background-color: #f5d2dd; 
    color: white;
    padding: 20px;
}
nav {
    background-color: #dfd2f0; 
    padding: 10px;
}
nav ul {
    list-style: none;
    padding: 0 10;
    display: flex;
    justify-content: center;
}
nav ul li {
    position: relative;
    margin: 10px 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    display: block;
}
.menu > li {
  float: left;
  position: relative;
}
.menu > li > a {
  display: block;
  padding: 16px 16px;
  color: white;
  text-decoration: none;
}
.menu > li:hover {
  background-color: #e8d1e7;
}
.submenu {
  display: none;
  position: relative;
  background-color: #ecbcd9;
  min-width: 160px;
  z-index: 1;
}
.submenu li a {
  color: white;
  padding: 12px ;
  display: block;
  text-decoration: none;
}
.submenu li a:hover {
  background-color: #555;
}
.menu li:hover .submenu {
  display: block;
}
section {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
    background-color:#FADCE6;
    color:white;
    padding: 25px 10px;
    text-align: center;
  }
.footer.content{
  max-width: 900px;
  margin: auto;
}
/* Estilos para los botones de redes sociales */
.social-icons {
    margin-bottom: 15px;
}

.social-icons a {
    margin: 0 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color:white
}
.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s;
}


.logo {
 width:145px;
 height: 145px;
 position: relative;
  top:-30px;
 left:-250px;
 } 
.video{
    width: 350px;
height: 350;
position:relative;
left:10px;
}   
.text{
max-width: 200px;
margin: 0 auto;
  position: absolute;
  top: 75%;
  left:49%;
  transform: translate(-50%, -50%);
  text-align: justify;
}
.text2{
max-width: 400px;
margin-top: 10px;
  position: absolute;
  top: 105%;
  left:75%;
  transform: translate(-50%, -50%);
  text-align: justify;
  font-weight: bold;
}
.text3{
max-width: 400px;
margin: 0 auto;
  position: absolute;
  top: 127%;
  left:76%;
  transform: translate(-50%, -50%);
  text-align: justify;
}
.text4{
max-width: 400px;
margin-top: 10px;
  position: absolute;
  top: 105%;
left:25%;
  transform: translate(-50%, -50%);
  text-align: justify;
  font-weight: bold;
}
.text5{
max-width: 200px;
margin: 0 auto;
  position: absolute;
  top: 132%;
  left:25%;
  transform: translate(-50%, -50%);
  text-align: justify;
}
.act1{
padding: 20px 30px;
width: 350px;
height: 350px;
position: relative;
left: -120px;
top: 20px;
text-align: center;
}
.act2{
padding: 20px 30px;
width: 350px;
height: 350px;
position: relative;
left: 100px;
top: 20px;
text-align: center;
}
.act3{
padding: 20px 30px;
width: 350px;
height: 350px;
position: relative;
left: 10px;
top: -10px;
padding: 30px;
text-align: center;
}
.apartado{
  background-color: #f5f0f3;
  margin-top: -23%;
}
.boton-ingles{
  background-color: #aecef1;
  border:none;
  padding: 10px 20px;
  color:black;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
  text-decoration: none;
 top:580px;
 left:1228px;
  position: fixed;
}
.boton-ingles2{
  background-color: #aecef1;
  border:none;
  padding: 10px 20px;
  color:black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
  text-decoration: none;
 top:520px;
 left: 1110px;
  position: fixed;
}
.fondo-animado {
   min-height: auto; /* crece según lo que tenga adentro */
    overflow: visible;/* <-- Aumenta este número para hacerlo más largo */
  justify-content: center;
  align-items: center;
}
.imagenes img {
  position: absolute;
  top: 545px;
  left: 480px;
  width: 500px;
  display: none;
  z-index: 5;  
  padding:20px;
  background-color: #dae6fa;         /* debajo de los botones */
}
.botones {
  justify-content: center;
  top: 150px;           /* distancia desde arriba */
  left: 180px;           /* distancia desde el borde izquierdo */
  display: block;
  gap: 10px;            /* espacio entre botones */
  z-index: 10;          /* delante del fondo */
  width: 150px;
  height: 150px;
}
.Introduccion{
  display:block;
  margin-left: 35;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #cae7f8;
  color:black;
  border-color: white;
  border-radius: 8px;
  cursor:pointer;

}
.Mision{
  display:block;
  top:589px;
  margin-left: 35;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color:#cae7f8;
  color:black;
  border-color: white;
  border-radius: 8px;
  cursor:pointer;

}
.Vision{
  position: sticky;
  display:block;
  margin-left: 35;
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #cae7f8;
  color:black;
  border-color: white;
  border-radius: 8px;
  cursor:pointer;

}
.Objetivogeneral{
  display:block;
  margin-left: 35;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color:#cae7f8;
  color:black;
  border-color: white;
  border-radius: 8px;
  cursor:pointer;
  
}
.Problematica{
  display:block;
  margin-left: 35;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color:#cae7f8;
  color:black;
  border-color: white;
  border-radius: 8px;
  cursor:pointer;

}
.objetivoespecifico{
  display:block;
  margin-left: 35;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color:#cae7f8;
  color:black;
  border-color: white;
  border-radius: 8px;
  cursor:pointer;

}
.tristeza{
background-color: rgb(187, 245, 245);
width:280px;
height:280px;
position:relative;
left:-140px;
top:28px;
padding:28px;
}
.mascota{
background-color: rgb(187, 245, 245);
width: 450px;
height: 450px;
position: relative;
left: -250px;
top: 05px;
padding: 30px;
text-align: center;
}
.mascot{
background-color: rgb(187, 245, 245);
width: 450px;
height: 450px;
position: relative;
left: -250px;
top: -10px;
padding: 30px;
text-align: center;
}
.primero{
  background-color: rgb(187, 245, 245);
position: relative;
left: 280px;
top: 20px;
padding: 30px;
text-align: center;
}
.segundo{
  background-color: rgb(187, 245, 245);
position: relative;
left: 280px;
top: 10px;
padding: 30px;
text-align: center;
}
.tercero{
  background-color: rgb(187, 245, 245);
position: relative;
left: 280px;
top: 20px;
padding: 30px;
text-align: center;
}
.cuarto{
  background-color: rgb(187, 245, 245);
position: relative;
left: 280px;
top: 20px;
padding: 30px;
text-align: center;
}
.quinto{
  background-color: rgb(187, 245, 245);
position: relative;
left: 280px;
top: 20px;
padding: 30px;
text-align: center;
}
.sexto{
  background-color: rgb(187, 245, 245);
position: relative;
left: 280px;
top: 20px;
padding: 30px;
text-align: center;
}
.conocer{
  font-size: 30px;
  position: absolute;
  top:320px;
  left: 828px;
font-weight: bold;
text-align: center;
}
.conocer2{
  max-width: 500px;
  font-size: 20px;
  position: absolute;
  top:382px;
  left: 680px;
text-align: center;
}
.solucion{
background-color: #ffffff;
width: 450px;
height: 450px;
position: relative;
left: 450;
top: 20px;
padding: 30px;
text-align: center;
}
.encabezado1{
  font-size: 40px;
max-width: 500px;
margin-top: 10px;
  position: absolute;
  top: 42%;
left:60%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  }
.sintom1{
max-width: 220px;
margin: 0 auto;
  position: absolute;
  top: 1085px;
  left:69%;
  transform: translate(-50%, -50%);
  text-align: justify;
  font-size: 16px;
}
.general{
  display:block;
  width: 350px;
  height: 350px;
 left: 500px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(187, 245, 245);
  color:black;
  border-color: white;
  border-radius: 8px;
  cursor:pointer;
}
.objetivos{
  display:block;
  width: 350px;
  height: 350px;
 left: 500px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(187, 245, 245);
  color:black;
  border-color: white;
  border-radius: 8px;
  cursor:pointer;
}
.pescado{
  width: 450px;
  height: 450px;
  position: relative;
  background-color: rgb(187, 245, 245);
  padding:10px 20px;
  border-radius: 16px;
  left:-10px;
 top:15px; 
}
.arbol{
  width: 450px;
  height: 450px;
  position: relative;
  background-color: rgb(187, 245, 245);
  padding:10px 20px;
  border-radius: 16px;
  left:-10px;
 top:30px; 
}
.cronograma{
  width: 450px;
  height: 450px;
  position: relative;
  background-color: rgb(187, 245, 245);
  padding:10px 20px;
  border-radius: 16px;
  left:-10px;
 top:40px; 
}
.diagrama1{
  max-width: 400px;
margin-top: 15px;
  position:relative;
  top: 20px;
left:570px;
  transform: translate(-50%, -50%);
  text-align: justify;
  font-weight: bold;
  font-size: 18px;
}
.diagrama2{
  max-width: 400px;
margin-top: 15px;
  position:relative;
  top: 20px;
left:570px;
  transform: translate(-50%, -50%);
  text-align: justify;
  font-weight: bold;
  font-size: 18px;
}
.diagrama3{
  max-width: 400px;
margin-top: 15px;
  position:relative;
  top: 40px;
left:593px;
  transform: translate(-50%, -50%);
  text-align: justify;
  font-weight: bold;
  font-size: 18px;
}
.laura{
background-color:white;
width: 350px;
height: 350px;
position: relative;
left: -80px;
top: -10px;
padding: 20px;
text-align: center;
border-radius:25px;
transform: rotate(-90deg);
}
.sofia{
background-color:white;
width: 350px;
height: 350px;
position: relative;
left: -431px;
top: 385px;
padding: 20px;
text-align: center;
border-radius:25px;
}
.sofi{
background-color:white;
width: 350px;
height: 350px;
position: relative;
left: -431px;
top: 347px;
padding: 20px;
text-align: center;
border-radius:25px;
}

.nosotras{
  max-width: 400px;
margin-top: 30px;
  position:relative;
  top: -100px;
left: 700px;
  transform: translate(-50%, -50%);
  text-align: justify;
  font-size:30px;
}
.Codigo{
width: 350px;
height: 350px;
margin-top: 30px;
  position:relative;
  top: 140px;
left: 150px;
  transform: translate(-50%, -50%);
  text-align: justify;
  font-size:30px;
}


*{ box-sizing:border-box; margin:0; padding:0; }

body{ font-family:system-ui, Segoe UI, Arial, sans-serif; color:#000000; }

:root{
  --c1:#6a11cb; --c2:#2575fc; --c3:#00c6ff;
  --overlay:.45; --alto:60vh;

}
.soluciontec{
  max-width: 800px;
  font-size: 25px;
  width: 800px;
  height: 200px;
  left:80px;
  position: relative;
  top:60px;
}
  .des{
    position: relative;
  max-width: 400px;
  font-size: 23px;
  width: 400px;
  height: 200px;
  font-weight: bold;
  left: 280px;
  top:59px;
}
 .dos{
    position: relative;
  max-width: 400px;
  font-size: 23px;
  width: 400px;
  height: 200px;
  font-weight: bold;
  left: 280px;
  top:69px;
 }

h1{
  font-size: 20;
}
h2{
  font-size: 20;
}